﻿@model SalesCreateVM

<fieldset class="scheduler-border col-sm-offset-1 col-md-5">
    <legend class="scheduler-border text-capitalize"> Assign devices</legend>

    <h3 class="text-center">Diva communications (k) limited</h3>
    <h4 class="text-center">Number of unit to assign {{DeviceList.Quantity}}</h4>

    <form id="frmAddDevice" name="frmAddDevice">
        <div class="form-horizontal">
            <div class="form-group">
                @Html.Label("Serial No:", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-6">
                    <input type="text" name="serialNumber" class="form-control" ng-model="SerialNumber" required>
                    
                    <span style="color:red" ng-show="frmAddDevice.serialNumber.$dirty && frmAddDevice.serialNumber.$invalid">
                        <span ng-show="frmAddDevice.serialNumber.$error.required">serialNumber is required.</span>
                    </span>
                </div>
                <input type="button" value=" +" class="btn btn-default" ng-click="AddDevice()" ng-disabled="DeviceList.Quantity === 0" />
            </div>

            <div class="col-md-offset-3 col-md-6">
                <input type="button" value="Process Sale" class="btn btn-default" ng-click="ProcessSale()" ng-disabled="DeviceList.Quantity !== 0" />
            </div>
        </div>
    </form>


</fieldset>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
