﻿@model SalesCreateVM

<fieldset class="scheduler-border col-md-6" >
    <legend class="scheduler-border text-capitalize"> Process Sales</legend>
    <form id="frmCreate" name="frmCreate">

        <div class="form-horizontal">
            <div class="form-group">
                @Html.Label("Company Name", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-6">
                    <select data-ng-model="agent"
                            data-ng-options="a.CompanyName for a in agents.value" class="form-control" required></select>
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Product Name", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-6">
                    <select data-ng-model="product"
                            data-ng-options="a.Name for a in products.value" class="form-control" required></select>
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Unit Price", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-6">
                    <input type="text" name="unitPrice" class="form-control" ng-model="product.UnitPrice" readonly="readonly">

                </div>
            </div>

            <div class="form-group">
                @Html.Label("Quantity", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-6">
                    <input type="number" name="quantity" class="form-control" ng-model="Quantity" required
                           check-if-number="{{Quantity}}"
                           check-quantity="{{Total}}"
                           ng-disabled="disableQuantity.value">
                    <div style="color:red" ng-show="frmCreate.quantity.$dirty && frmCreate.quantity.$invalid">
                        <ul>
                            <li ng-show="frmCreate.quantity.$error.required"><small>Quantity is required.</small></li>
                            <li class="error" ng-show="frmCreate.quantity.$error.number">
                                <small>  Quantity needs to be a number</small>
                            </li>
                            <li ng-show="frmCreate.quantity.$error.units"><small>You cant sell {{Quantity}} pieces. There are only {{UnitsInStock}} pieces remaining</small></li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="form-group">
                @Html.Label("Total", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-6">
                    <input type="text" name="total" class="form-control" ng-model="Total" readonly="readonly" />
                </div>
            </div>

            <div class="col-md-offset-3 col-md-6">
                <input type="button" value="Process Sale" class="btn btn-default" ng-click="AssignDevices()" ng-show="!frmCreate.$invalid && Total > 0 && !disableQuantity.value" />
            </div>
        </div>
    </form>


</fieldset>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}