﻿@{
    ViewBag.Title = "Sales";
}
<script src="~/Scripts/ng-grid-1.3.2.js"></script>
<script src="~/Scripts/angular-route.js"></script>
<link href="~/Content/ng-grid.css" rel="stylesheet" />
<script src="~/Scripts/Custom/Directives.js"></script>
<script src="~/Scripts/Custom/Controllers.js"></script>


<script language="javascript">
    // creating a APP
    var app = angular.module("myApp", ['ngGrid']);

   
    app.directive("checkIfNumber", checkIfNumber);
    app.directive("checkQuantity", checkQuantity);

    // Registering the VM
    app.controller('SalesCtrl', SalesCtrl);
</script>

<script type="text/javascript">
    $(function () {

        $("#addDevice").show();
        $('#details').show();
        $("#create").show();
    });
</script>

<div ng-app="myApp" ng-controller="SalesCtrl">
    <br />
    <br />
    <div class="row">
        <div id="create" hidden>
            @Html.Partial("_Create")
        </div>
        <div id="addDevice" ng-show="showAddDevice.value" hidden>
            @Html.Partial("_AddDevice")
        </div>
        <div ng-show="showDetails.value" id="details" hidden>
            @*@Html.Partial("_Details")*@
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <table class="table table-striped" id="TblData">
            <tr>
                <th>Company Name</th>
                <th>Product Name</th>
                <th>Serial Number</th>
            </tr>
            <tr ng-repeat="item in DeviceList.SerialNumbers track by $index">
                <td>{{agent.CompanyName}}</td>
                <td>{{product.Name}}</td>
                <td>{{item}}</td>
            </tr>
        </table>
    </div>
</div>
