﻿@{
    ViewBag.Title = "Sales Transactions";
}
<script src="~/Scripts/ng-grid-1.3.2.js"></script>
<script src="~/Scripts/angular-route.js"></script>
<link href="~/Content/ng-grid.css" rel="stylesheet" />
<script src="~/Scripts/Custom/Controllers.js"></script>

<script language="javascript">
    // creating a APP
    var app = angular.module("myApp", ['ngGrid']);
    // Registering the VM
    app.controller('TransactionCtrl', TransactionCtrl);
</script>
<div ng-app="myApp" ng-controller="TransactionCtrl">
 
    <h1>Sales Transactions</h1>
    <div class="row">
        <br />
        <br />
        <div class="gridStyle" ng-grid="gridOptions"></div>
    </div>
</div>
