﻿@model FloatTransactionDetailVM

<li id="errorMessages" class="error" data-ng-repeat="error in Errors">
    {{error}}
</li>

<fieldset class="scheduler-border  col-md-6">
    <legend class="scheduler-border">Transaction Details</legend>
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                {{mySelections[0].Description}}
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Amount)
            </dt>

            <dd>
                {{mySelections[0].Amount}}
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>

            <dd>
                {{mySelections[0].Status}}
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Type)
            </dt>

            <dd>
                {{mySelections[0].Type}}
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.InitiatedBy)
            </dt>

            <dd>
                {{mySelections[0].InitiatedBy}}
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateInitiated)
            </dt>

            <dd>
                {{mySelections[0].DateInitiated}}
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ApprovedBy)
            </dt>

            <dd>
                {{mySelections[0].ApprovedBy}}
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateApproved)
            </dt>

            <dd>
                {{mySelections[0].DateApproved}}
                
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Comments)
            </dt>

            <dd>
                {{mySelections[0].Comments}}
                <input type="text" id="Name" name="Name" ng-show="mySelections[0].Status == 'Pending' && mySelections[0].UserId != User.UserId && User.UserId != 'Admin' " ng-model="Transaction.Comments" class="form-control" />
            </dd>
            <dt>
            </dt>
            <dd>
                <br/>
            </dd>
            <dt>
            </dt>
           
            <dd>
                <button ng-click="HideDetails()">Hide</button>
                <button ng-show="mySelections[0].Status == 'Pending' && mySelections[0].UserId != UserId" ng-click="ApproveTransaction(mySelections[0].ID, 'Approved')">Approve</button>
                <button ng-show="mySelections[0].Status == 'Pending' && mySelections[0].UserId != UserId" ng-click="ApproveTransaction(mySelections[0].ID, 'Declined')">Decline</button>
            </dd>
        </dl>
    </div>
</fieldset>

