﻿<tr ng-repeat="trans in Transactions" style="background-color:{{trans.TypeColor}}">
    <td>{{trans.Description}}</td>
    <td>{{trans.Amount}}</td>
    <td>{{trans.Status}}</td>
    <td>{{trans.Type}}</td>
    <td>{{trans.InitiatedBy}}</td>
    <td>{{trans.DateInitiated}}</td>
    <td>{{trans.ApprovedBy}}</td>
    <td>{{trans.DateApproved}}</td>
    <td>
        <button  ng-click="GetTransaction(trans.Index)">Select</button>
       
    </td>
</tr>
