﻿@{
    ViewBag.Title = "Transactions";
}

@model IEnumerable<FloatTransactionVM>
<script src="~/Areas/FloatManagement/Scripts/FloatTransaction.js"></script>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<script src="~/Scripts/ng-grid-1.3.2.js"></script>
<link href="~/Content/ng-grid.css" rel="stylesheet" />

<script language="javascript">

    var app = angular.module("myApp", ['ngGrid']); // creating a APP

    app.controller('FloatTransaction', FloatTransaction); // Registering the VM


</script>
<script>
    $(function () {
        $("#details").show()
    }
    );

</script>
<br />
<div ng-app="myApp" ng-controller="FloatTransaction">

    <div class="row">
        <fieldset class="scheduler-border col-md-3">
            <legend class="scheduler-border"> Search: </legend>
            <div class="form-group">
                <input type="text" ng-model="filterName" class="form-control" />
            </div>
            <div class="form-group">
                <input type="button" ng-click="Search(filterName)" value="Search" class="btn btn-primary" />
                <input type="button" ng-click="Reset()" value="Reset" class="btn btn-primary" />
            </div>
        </fieldset>
        <div class="col-md-6">
            <h2 class="text-right">Transactions</h2>
        </div>
    </div>

    
    <div class="row" ng-show="mySelections[0].__ng_selected__" id="details" hidden>
        @Html.Partial("_Details")
    </div>

    <div class="row">
        <div class="gridStyle" ng-grid="gridOptions"></div>
    </div>
</div>


@section Scripts{
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

}
