﻿@model IEnumerable<FloatAdminRequestVM>

@{
    ViewBag.Title = "Requested";
}

<h2>Float Requests History</h2>

<br />
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InitiatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateInitiated)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InitiatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateInitiated)
            </td>

            @*@if (item.Status == EnumStatus.Pending)
                {
                    <td>

                        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                        @Html.ActionLink("Approve", "Approve", new { id = item.ID })

                    </td>
                }
                else
                {*@
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.ID })
            </td>
            @*}*@
        </tr>
    }

</table>
