﻿a.attendant {
    background: url(../Images/Attendant.png) no-repeat;
    display: block;
    width: 200px;
    height: 200px;
    text-indent: -9999px; /* hides the link text */
}

a.transaction {
    background: url(../Images/Transaction.png) no-repeat;
    display: block;
    width: 200px;
    height: 200px;
    text-indent: -9999px; /* hides the link text */
}

a.location {
    background: url(../Images/Location.png) no-repeat;
    display: block;
     
    width: 200px;
    height: 200px;
    text-indent: -9999px; /* hides the link text */
}

a.report {
    background: url(../Images/Report.png) no-repeat;
    display: block;
    width: 200px;
    height: 200px;
    text-indent: -9999px; /* hides the link text */
}

a.tarrif {
    background: url(../Images/Tarrif.png) no-repeat;
    display: block;
    width: 200px;
    height: 200px;
    text-indent: -9999px; /* hides the link text */
}

a.terminal {
    background: url(../Images/Terminal.png) no-repeat;
    display: block;
    width: 200px;
    height: 200px;
    text-indent: -9999px; /* hides the link text */
}

a.homelink {
    background: url(../Images/HomeLink.png) no-repeat;
    display:ruby-text;
    width: 100px;
    height: 50px;
    text-indent: -9999px; /* hides the link text */
}


.k-chart  {
    height: 280px;
    padding: initial;
    margin: auto;
    width: 400px;
}


