﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* This have been added by none other that Bigmachini */
.gridStyle1 {
    border: 1px solid rgb(212,212,212);
    width:auto; 
    min-height: 400px;
    height: auto;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    width:auto; 
    height: 100%;
    min-height: 500px;
   
}

fieldset.scheduler-border {
    border: 1px solid;
    padding:10px;
    margin: 5px;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    font-size: 1.2em ;
    font-weight: bold;
    text-align: center;
     width:inherit; /* Or auto */
    padding: 0 ,10px; /* To give a bit of padding on the left and right */
    border-bottom: none;
}

.selectedItems{
    float: left; 
}