﻿@model PagedList.IPagedList< ApplicationUser>
@using PagedList.Mvc;
@using Microsoft.AspNet.Identity;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Users";
}

<h2>System Users</h2>

@ViewBag.ErrorMessage

<p>
    @Html.ActionLink("Create New User", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            ID Number
        </th>
        <th>
            User Name
        </th>
        <th>
            Role Selected
        </th>

        <th>

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullNames)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleSelected)
            </td>


            @if (User.IsInRole("SuperAdmin"))
            {
                <td>

                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Assign", "Assign", new { id = item.Id }) @*|                    
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@  

                </td>
            }
            else
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) @*|
                    @Html.ActionLink("Details", "Details", new { id = item.Id })*@
                </td>

            }

        </tr>
    }

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
        new
        {
            page = page,

        }))
