﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - RMS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/angular.js"></script>
    <!--This bundle was moved by the Telerik VS Extensions for compatibility reasons-->
    @Scripts.Render("~/bundles/jquery")
    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Sillicon Valley Solutions", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav">

                    @using Microsoft.AspNet.Identity
                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>

                        if (User.IsInRole("SuperAdmin"))
                        {
                            if (User.Identity.GetUserName().ToLower() == "bigmachini".ToLower())
                            {
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Admin <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Roles", "Index", "RolesAdmin", new { area = "" }, null)</li>
                                        <li>@Html.ActionLink("Users", "Index", "UsersAdmin", new { area = "" }, null)</li>
                                        <li>@Html.ActionLink("Expenditure Types", "Index", "ExpenditureType", new { area = "" }, null)</li>
                                        <li>@Html.ActionLink("Product", "Index", "Product", new { area = "" }, null)</li>
                                        <li>@Html.ActionLink("Action Logs", "Index", "ActionLog", new { area = "" }, null)</li>
                                    </ul>
                                </li>

                            }
                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Admin <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Expenditure Types", "Index", "ExpenditureType", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Product", "Index", "Product", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Action Logs", "Index", "ActionLog", new { area = "" }, null)</li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Manage User <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Roles", "Index", "RolesAdmin", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Users", "Index", "UsersAdmin", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Agent Details", "Index", "AgentDetail", new { area = "" }, null)</li>
                                </ul>
                            </li>
                        }

                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Float <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Accounts", "Index", "Account", new { area = "FloatManagement" }, null)</li>
                                <li>@Html.ActionLink("Transactions", "Index", "Transaction", new { area = "FloatManagement" }, new { id = 1 })</li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Expenditure <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Transactions", "Index", "Expenditure", new { area = "ExpenditureManagement" }, null)</li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Sales <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Process", "Index", "Sales", new { area = "SalesManagement" }, null)</li>
                                <li>@Html.ActionLink("Transactions", "Transactions", "Sales", new { area = "SalesManagement" }, null)</li>
                            </ul>
                        </li>

                        @*if (User.IsInRole("Admin"))
                            {
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Float <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Accounts", "Accounts", "Admin", new { area = "FloatManagement" }, null)</li>
                                        <li>@Html.ActionLink("Pending", "Index", "AdminTransaction", new { area = "FloatManagement" }, new { id = 0 })</li>
                                        <li>@Html.ActionLink("Transactions", "Index", "AdminTransaction", new { area = "FloatManagement" }, new { id = 1 })</li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Expenditure <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Raise Request", "Create", "ExpenditureAdmin")</li>
                                        <li>@Html.ActionLink("Pending", "Pending", "ExpenditureAdmin")</li>
                                        <li>@Html.ActionLink("Transactions", "Index", "ExpenditureAdmin")</li>
                                    </ul>
                                </li>
                            }
                            else *@
                    }
                </ul>

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Sillicon Valley Solutions</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
