﻿@{
    ViewBag.Title = "Home Page";
}

<br/>
<nr/>
<div class="row">
    <div class="col-md-4">
        <h2>Float Managament</h2>
        @Html.ActionLink("Click Here", "Index", "Account", new { area = "FloatManagement" }, new { @class = "navbar-brand" })
    </div>
    <div class="col-md-4">
        <h2>Expenditure Managament</h2>
        @Html.ActionLink("Click Here", "Index", "Expenditure", new { area = "ExpenditureManagement" }, new { @class = "navbar-brand" })
    </div>
    <div class="col-md-4">
        <h2>Agent Management</h2>
        @Html.ActionLink("Click Here", "Index", "AgentDetail", new { area = "" }, new { @class = "navbar-brand" })
    </div>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Float Transaction </h2>
      @Html.ActionLink("Click Here", "Index", "Transaction", new { area = "FloatManagement" }, new { @class = "navbar-brand" })
    </div>
    <div class="col-md-4">
        <h2>Sales Management </h2>
        @Html.ActionLink("Click Here", "Index", "Sales", new { area = "SalesManagement" }, new { @class = "navbar-brand" })
    </div>
    <div class="col-md-4">
        <h2>Device Management </h2>
        @Html.ActionLink("Click Here", "Index", "Devices", new { area = "DeviceManagement" }, new { @class = "navbar-brand" })
    </div>

</div>  

<div class="row">
    <div class="col-md-4">
        <h2>Certifate Management </h2>
        @Html.ActionLink("Click Here", "Index", "Certificates", new { area = "CertificateManagement" }, new { @class = "navbar-brand" })
    </div>
  
    
    <div class="col-md-4">
        <h2>Order Management </h2>
        <p>Extra</p>
    </div>
</div> 

@section Scripts{
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}