﻿@model DeviceDetailVM

<li id="errorMessages" class="error" data-ng-repeat="error in Errors">
    {{error}}
</li>

<fieldset class="scheduler-border  col-md-6">
    <legend class="scheduler-border">Transaction Details</legend>
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.AgentName)
            </dt>

            <dd>
                {{DeviceDetail.AgentName}}
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AgentCompany)
            </dt>

            <dd>
                {{DeviceDetail.AgentCompany}}
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CertificateNo)
            </dt>

            <dd>
                {{DeviceDetail.CertificateNo}}
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateInstalled)
            </dt>

            <dd>
                {{DeviceDetail.DateInstalled}}
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SoldBy)
            </dt>

            <dd>
                {{DeviceDetail.SoldBy}}
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateSold)
            </dt>

            <dd>
                {{DeviceDetail.DateSold}}
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SerialNumber)
            </dt>

            <dd>
                {{DeviceDetail.SerialNumber}}
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>

            <dd>
                {{DeviceDetail.Status}}
                
            </dd>

            
            <dt>
            </dt>
            <dd>
                <br/>
            </dd>
            <dt>
            </dt>
           
            <dd>
                <button ng-click="mySelections[0].__ng_selected__ = false">Hide</button>
                @*<button ng-show="DeviceDetail.Status == 'Pending' && DeviceDetail.UserId != UserId" ng-click="ApproveTransaction(DeviceDetail.ID, 'Approved')">Approve</button>
                <button ng-show="DeviceDetail.Status == 'Pending' && DeviceDetail.UserId != UserId" ng-click="ApproveTransaction(DeviceDetail.ID, 'Declined')">Decline</button>*@
            </dd>
        </dl>
    </div>
</fieldset>

