﻿@{
    ViewBag.Title = "Devices";
}
<script src="~/Scripts/ng-grid-1.3.2.js"></script>
<script src="~/Scripts/angular-route.js"></script>
<link href="~/Content/ng-grid.css" rel="stylesheet" />
<script src="~/Scripts/Custom/Directives.js"></script>
<script src="~/Scripts/Custom/Controllers.js"></script>


<script language="javascript">
    // creating a APP
    var app = angular.module("myApp", ['ngGrid']);

    // Registering the VM
    app.controller('DeviceCtrl', DeviceCtrl);
   app.controller('DeviceDetailsCtrl', DeviceDetailsCtrl)
</script>

<script type="text/javascript">
    $(function () {

        $("#addDevice").show();
        $('#details').show();
        $("#create").show();
    });
</script>
<script>
    $(function () {
        $("#details").show()
    }
    );

</script>
<br />

<div ng-app="myApp" ng-controller="DeviceCtrl">
       <div class="row">
        <fieldset class="scheduler-border col-md-3">
            <legend class="scheduler-border"> Search: </legend>
            <div class="form-group">
                <input type="text" ng-model="filterName" class="form-control" />
            </div>
            <div class="form-group">
                <input type="button" ng-click="Search(filterName)" value="Search" class="btn btn-primary" />
                <input type="button" ng-click="Reset()" value="Reset" class="btn btn-primary" />
            </div>
        </fieldset>
        <div class="col-md-6">
            <h2 class="text-right">Devices</h2>
        </div>
    </div>
    <div class="row" ng-show="mySelections[0].__ng_selected__">
        <div id="details" hidden>
               
            @Html.Partial("_Details")
        </div>
       
    </div>
    <br />

    <div class="row gridStyle" ng-grid="gridOptions"></div>
</div>
