﻿
<fieldset class="scheduler-border col-md-5">
    <legend class="scheduler-border text-capitalize"> Assign</legend>
    <form id="frmAssign" name="frmAssign">

        <div class="form-horizontal">
            <div class="form-group">
                @Html.Label("Company Name", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-6">
                    <select data-ng-model="agent"
                            data-ng-options="a.CompanyName for a in agents.value" class="form-control" required></select>
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Certificate Start s/n", htmlAttributes: new { @class = "control-label col-md-4"  })
                <div class="col-md-6">
                    <input type="text" name="certStart" class="form-control" ng-model="CertAssign.CertStart" required readonly>
                    <div style="color:red" ng-show="frmAssign.certStart.$dirty && frmAssign.certStart.$invalid">
                        <ul>
                            <li ng-show="frmAssign.certStart.$error.required"><small>Start Certificate No. is required</small></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Number of Certificates", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-6">
                    <input type="number" name="certRange" class="form-control" ng-model="CertAssign.Range"
                           check-if-number="{{CertAssign.Range}}" required>
                    <div style="color:red" ng-show="frmAssign.certRange.$dirty && frmAssign.certRange.$invalid">
                        <ul>
                            <li ng-show="frmAssign.certRange.$error.required"><small>Certificate range is required</small></li>
                            <li class="error" ng-show="frmAssign.certRange.$error.number">
                                <small>  Range needs to be a number</small>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-offset-4 col-md-6">
                <input type="button" value="Assign" class="btn btn-primary" ng-click="AssignCertificates()" ng-show="!frmAssign.$invalid && CertAssign.Range > 0" />
            </div>
        </div>
    </form>
</fieldset>