﻿
<div>
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Warning</h3>
        </div>
        <div class="modal-body">
            <ul>
                <li id="errorMessages" class="error" data-ng-repeat="error in Errors">
                    <span style="color:red">{{error}}</span>
                </li>
            </ul>

        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            @*<button class="btn btn-warning" ng-click="cancel()">Cancel</button>*@
        </div>
    </script>
</div>