﻿@model IEnumerable<CertListVM>

@{
    ViewBag.Title = "Certificates";
}
@*<script src="~/Scripts/ng-grid.min.js"></script>*@
@*<link href="~/Content/ng-grid.min.css" rel="stylesheet" />*@
<script src="~/Scripts/ng-grid.min.js"></script>
<link href="~/Content/ng-grid.min.css" rel="stylesheet" />
<script src="~/Scripts/angular-route.js"></script>

<script src="~/Scripts/Custom/Directives.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.min.js"></script>
<script src="~/Scripts/Custom/Controllers.js"></script>

<script language="javascript">

    var app = angular.module("myApp", ['ngGrid', 'ui.bootstrap']); // creating a APP

    app.controller("CertificateCtrl", CertificateCtrl); // Registering the VM
    app.controller("ModalInstanceCtrl", ModalInstanceCtrl);
    app.directive("checkIfNumber", checkIfNumber);

</script>
<script>
    $(function () {
        $("#details").show()
    }
    );

</script>
<br />

<div ng-app="myApp" ng-controller="CertificateCtrl">
    <div class="row">
        @if (!User.IsInRole("Agent"))
        {
            @Html.Partial("_AssignCertificates");

            <fieldset class="scheduler-border col-md-3">
                <legend class="scheduler-border"> Add: </legend>
                <div class="form-group">
                    <input type="text" ng-model="range" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="button" ng-click="AddCertificate(range)" value="Add" class="btn btn-primary" />
                    <input type="reset" value="Reset" ng-click="range = ''" class="btn btn-primary" />
                </div>
            </fieldset>
        }

        <fieldset class="scheduler-border col-md-3">
            <legend class="scheduler-border"> Search: </legend>
            <div class="form-group">
                <input type="text" ng-model="filterName" class="form-control" />
            </div>
            <div class="form-group">
                <input type="button" ng-click="Search(filterName)" value="Search" class="btn btn-primary" />
                <input type="button" ng-click="Reset()" value="Reset" class="btn btn-primary" />
            </div>
        </fieldset>
    </div>

    @*<ul>
            <li id="errorMessages" class="error" data-ng-repeat="error in Errors">
                <span style="color:red">{{error}}</span>
            </li>
        </ul>*@

    <div class="row" ng-show="mySelections[0].__ng_selected__" id="details" hidden>
        @*@Html.Partial("_Details")*@
    </div>

    <div class="row">
        <div class="gridStyle" ng-grid="gridOptions"></div>
        @*<div class="gridStyle" ui-grid="gridOptions" ui-grid-edit></div>*@
    </div>

    @Html.Partial("_Modal")
</div>

@section Scripts{
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

}
