﻿@model ProductCreateVM



<div ng-controller="ProductCtrl" ng-app="MyApp">

    <br />
    <ol>
        <li id="errorMessages" class="error" data-ng-repeat="error in Errors" ng-show="showError.show">
            <span style="color:red">{{error}}</span>
        </li>
    </ol>
    <fieldset class="scheduler-border col-md-6">
        <legend class="scheduler-border"> Create Product</legend>

        <form id="frmCreate" name="frmCreate" novalidate>
            <div class="form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="text" ng-model="ProductCreate.Name" class="form-control" required>
                        <span style="color:red" ng-show="frmCreate.ProductCreate.Name.$dirty && frmCreate.ProductCreate.Name.$invalid">
                            <span ng-show="!frmCreate.ProductCreate.Name.$error.required">Product Name is required</span>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="text" ng-model="ProductCreate.Description" class="form-control" required>
                        <span style="color:red" ng-show="frmCreate.ProductCreate.Description.$dirty && frmCreate.ProductCreate.Description.$invalid">
                            <span ng-show="frmCreate.ProductCreate.Description.$error.required">Description is required</span>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.UnitPrice, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="number" ng-model="ProductCreate.UnitPrice" class="form-control" required>
                        <span style="color:red" ng-show="frmCreate.ProductCreate.UnitPrice.$dirty && frmCreate.ProductCreate.UnitPrice.$invalid">
                            <span ng-show="frmCreate.ProductCreate.UnitPrice.$error.required">Unit Price is required</span>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.UnitsInStock, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="number" ng-model="ProductCreate.UnitsInStock" class="form-control" required>
                        <span style="color:red" ng-show="frmCreate.ProductCreate.UnitsInStock.$dirty && frmCreate.ProductCreate.UnitsInStock.$invalid">
                            <span ng-show="frmCreate.ProductCreate.UnitsInStock.$error.required">Units in stock is required</span>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.UnitsOnOrder, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="number" ng-model="ProductCreate.UnitsOnOrder" class="form-control" required>
                        <span style="color:red" ng-show="frmCreate.ProductCreate.UnitsOnOrder.$dirty && frmCreate.ProductCreate.UnitsOnOrder.$invalid">
                            <span ng-show="frmCreate.ProductCreate.UnitsOnOrder.$error.required">Unit on order is required</span>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ReorderLevel, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="number" ng-model="ProductCreate.ReorderLevel" class="form-control" required>
                        <span style="color:red" ng-show="frmCreate.ProductCreate.ReorderLevel.$dirty && frmCreate.ProductCreate.ReorderLevel.$invalid">
                            <span ng-show="frmCreate.ProductCreate.ReorderLevel.$error.required">Reorder level is required</span>
                        </span>
                    </div>
                </div>

                <div class="col-md-offset-2 col-md-10">
                    <input type="button" value="Create" class="btn btn-default" ng-click="CreateProduct()" ng-disabled="frmCreate.$invalid" />
                    <a href="#/" class="btn btn-default">Cancel </a>
                </div>
            </div>
        </form>
    </fieldset>
</div>