﻿@model ProductCreateVM

<div class="col-md-7">
    <ol>
        <li id="errorMessages" class="error" data-ng-repeat="error in Errors">
            <span style="color:red">{{error}}</span>
        </li>
    </ol>

    <fieldset class="scheduler-border  ">
        <legend class="scheduler-border">Product Details</legend>
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    {{mySelections[0].Name}}
                </dd>


                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd ng-show="!showEdit.value">
                    {{mySelections[0].Description}}
                </dd>
                <dd ng-show="showEdit.value">
                    <input id="description" name="Description" type="text" value="description" class="form-control" ng-model="ProductEdit.Description" required />

                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.UnitPrice)
                </dt>

                <dd>
                    {{mySelections[0].UnitPrice}}
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.UnitsInStock)
                </dt>

                <dd>
                    {{mySelections[0].UnitsInStock}}
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.UnitsOnOrder)
                </dt>

                <dd>
                    {{mySelections[0].UnitsOnOrder}}
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ReorderLevel)
                </dt>

                <dd ng-show="!showEdit.value">
                    {{mySelections[0].ReorderLevel}}
                </dd>
                <dd ng-show="showEdit.value">
                    <input id="reorderValue" type="number" class=" form-control" ng-model="ProductEdit.ReorderLevel" required>

                </dd>

                <dt>
                    Discontinued
                </dt>

                <dd>
                    {{mySelections[0].Discontinued}}
                </dd>


                <dt>
                </dt>
                <dd>
                    <br />
                </dd>
                <dt>
                </dt>

                <dd>
                    <button ng-click="HideDetails()">Hide</button>
                    <button ng-show="!showEdit.value" ng-click="ShowEdit()">Edit</button>
                    <button ng-show="showEdit.value" ng-click="EditProduct()" ng-disabled="frmCreate.$invalid">Modify</button>
                    @*<button ng-show="mySelections[0].Status == 'Pending' && mySelections[0].UserId != UserId" ng-click="ApproveTransaction(mySelections[0].ID, 'Declined')">Decline</button>*@
                </dd>
            </dl>
        </div>
    </fieldset>
</div>

