﻿
@{
    ViewBag.Title = "Product";
}
<script src="~/Scripts/ng-grid-1.3.2.js"></script>
<script src="~/Scripts/angular-route.js"></script>
<link href="~/Content/ng-grid.css" rel="stylesheet" />
<script src="~/Scripts/Custom/Controllers.js"></script>
<script language="javascript">
    // creating a APP
    var app = angular.module("myApp", ['ngGrid', 'ngRoute']);

    // Registering the VM
    app.controller('ProductCtrl', ProductCtrl);

    app.config(['$routeProvider',
        function ($routeProvider) {;
            $routeProvider.
            when('/Create', {
                templateUrl: '/Product/Create',
                controller: 'ProductCtrl'
            }).when('/Details', {
                templateUrl: '/Product/Details',
                controller: 'ProductCtrl'
            }).when('/Details', {
                templateUrl: '/FloatManagement/Account/Details',
                controller: 'Account'
            });
           

        }]);
</script>

<script>
    $(function () {
        $("#showCreate").show();
        $('#details').show();
    });
</script>

<div ng-app="myApp" ng-controller="ProductCtrl">
    <div class="row" ng-show="User.AccountType == 'SuperAdmin'">
        <br />
        <b><a href="#/Create" id="showCreate" class="btn btn-default" hidden> Add new product</a></b>
        <br />
    </div>

    <div class="row">
        <div ng-view></div>
        <div ng-show="mySelections[0].__ng_selected__" id="details" hidden>
            @Html.Partial("_Details")
        </div>
    </div>

    <div class="row">
        <br />
        <br />
        <div class="gridStyle" ng-grid="gridOptions"></div>
    </div>
</div>
