﻿
@model  AgentVM


<div>

    <br />
    <ol>
        <li id="errorMessages" class="error" data-ng-repeat="error in Errors" ng-show="showError.show">
            <span style="color:red">{{error}}</span>
        </li>
    </ol>

    <fieldset class="scheduler-border col-md-6">
        <legend class="scheduler-border">Agent Details</legend>

        <form id="frmAgent" name="frmAgent" novalidate>
            <div class="form-horizontal">

                <div class="form-group">
                    @Html.LabelFor(m => m.CompanyName, new { @class = "col-md-3 control-label" })
                    <div class="col-md-6">
                        <input type="text" name="companyName" ng-model="Agent.CompanyName" class="form-control" required placeholder="Company Name" ng-minlength=6
                               ng-maxlength=30 />
                        <div class="error" style="color:red" ng-show="frmAgent.companyName.$dirty && frmAgent.companyName.$invalid">
                            <small class="error" ng-show="frmAgent.companyName.$error.required">Please input a company name</small>
                            <small class="error" ng-show="frmAgent.companyName.$error.minlength">Company name is required to be at least 6 characters</small>
                            <small class="error" ng-show="frmAgent.companyName.$error.maxlength">Company name cannot be longer than 12 characters</small>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Location, new { @class = "col-md-3 control-label" })
                    <div class="col-md-6">
                        <input type="text"
                               ng-model="Agent.Location"
                               class="form-control"
                               required
                               placeholder="Location"
                               ng-minlength=6
                               ng-maxlength=20
                               name="location" />
                        <div class="error" style="color:red" ng-show="frmAgent.location.$dirty && frmAgent.location.$invalid">
                            <small class="error" ng-show="frmAgent.location.$error.required">Please input a location</small>
                            <small class="error" ng-show="frmAgent.location.$error.minlength">Location is required to be at least 6 characters</small>
                            <small class="error" ng-show="frmAgent.location.$error.maxlength">Location cannot be longer than 20 characters</small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.AgentNumber, new { @class = "col-md-3 control-label" })
                    <div class="col-md-6">
                        <input type="text" ng-model="Agent.AgentNumber" class="form-control" required
                               placeholder="Agent Number"
                               ng-minlength=6
                               ng-maxlength=6
                               name="agentNumber" />
                        <div class="error" style="color:red" ng-show="frmAgent.agentNumber.$dirty && frmAgent.agentNumber.$invalid">
                            <small class="error" ng-show="frmAgent.agentNumber.$error.required">Please input an agent number</small>
                            <small class="error" ng-show="frmAgent.agentNumber.$error.minlength">Agent number is required to be at least 6 characters</small>
                            <small class="error" ng-show="frmAgent.agentNumber.$error.maxlength">Agent number cannot be longer than 6 characters</small>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-3 control-label" })
                    <div class="col-md-6">
                        <input type="text" ng-model="Agent.PhoneNumber2" class="form-control" required ng-minlength=10
                               placeholder="Phone Number"
                               ng-maxlength=12
                               name="phone" />
                        <div class="error" style="color:red" ng-show="frmAgent.phone.$dirty && frmAgent.phone.$invalid">
                            <small class="error" ng-show="frmAgent.phone.$error.required">Please input a phone number</small>
                            <small class="error" ng-show="frmAgent.phone.$error.minlength">Phone number is required to be at least 10 characters</small>
                            <small class="error" ng-show="frmAgent.phone.$error.maxlength">Phone number cannot be longer than 12 characters</small>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-offset-3 col-md-10">
                        <button class="btn btn-primary" ng-click="CreateAgent()" ng-disabled="frmAgent.$invalid">Create Agent</button>
                        <button class="btn btn-default" ng-click="Back()">Back</button>
                        <button class="btn btn-primary" ng-click="reset()">Hide</button>
                        <input type="reset" class="btn btn-danger" value="Reset"></div>
                </div>
            </div>
        </form>
    </fieldset>
</div>



        