﻿@model  AgentVM


<div>

    <br />
    <ol>
        <li id="errorMessages" class="error" data-ng-repeat="error in Errors" ng-show="showError.show">
            <span style="color:red">{{error}}</span>
        </li>
    </ol>

    <fieldset class="scheduler-border col-md-6">
        <legend class="scheduler-border">Create Agent</legend>

        <form id="frmCreate" name="frmCreate">
            <div class="form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(m => m.FirstName, new { @class = "col-md-3 control-label" })
                    <div class="col-md-6">
                        <input type="text" placeholder="First Name" name="firstName" ng-model="Agent.FirstName" class="form-control" ng-minlength=3
                               ng-maxlength=20
                               required />
                        <div class="error" style="color:red" ng-show="frmCreate.firstName.$dirty && frmCreate.firstName.$invalid">
                            <small class="error" ng-show="frmCreate.firstName.$error.required">Please input a first name</small>
                            <small class="error" ng-show="frmCreate.firstName.$error.minlength">First name is required to be at least 3 characters</small>
                            <small class="error" ng-show="frmCreate.firstName.$error.maxlength">First name cannot be longer than 20 characters</small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.MiddleName, new { @class = "col-md-3 control-label" })
                    <div class="col-md-6">
                        <input type="text" placeholder="Middle Name" ng-model="Agent.MiddleName" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.LastName, new { @class = "col-md-3 control-label" })
                    <div class="col-md-6">
                        <input type="text" placeholder="Last Name" name="lastName" ng-model="Agent.LastName" class="form-control"
                               ng-minlength=3
                               ng-maxlength=20
                               required />
                        <div class="error" style="color:red" ng-show="frmCreate.lastName.$dirty && frmCreate.lastName.$invalid">
                            <small class="error" ng-show="frmCreate.lastName.$error.required">Please input a last name</small>
                            <small class="error" ng-show="frmCreate.lastName.$error.minlength">Last name is required to be at least 3 characters</small>
                            <small class="error" ng-show="frmCreate.lastName.$error.maxlength">Last name cannot be longer than 20 characters</small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.IDNumber, new { @class = "col-md-3 control-label" })
                    <div class="col-md-6">
                        <input type="number" name="idNumber" ng-model="Agent.IDNumber" class="form-control" required placeholder="ID NUmber" />
                        <div class="error" style="color:red" ng-show="frmCreate.idNumber.$dirty && frmCreate.idNumber.$invalid">
                            <small class="error" ng-show="frmCreate.idNumber.$error.required">ID Numebr is required</small>

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-3 control-label" })
                    <div class="col-md-6">
                        <input type="text" name="phoneNumber" ng-model="Agent.PhoneNumber" class="form-control" required placeholder="Phone Number" ng-minlength=10
                               ng-maxlength=12 />
                        <div class="error" style="color:red" ng-show="frmCreate.phoneNumber.$dirty && frmCreate.phoneNumber.$invalid">
                            <small class="error" ng-show="frmCreate.phoneNumber.$error.required">Please input a phone number</small>
                            <small class="error" ng-show="frmCreate.phoneNumber.$error.minlength">Phone number required to be at least 10 characters</small>
                            <small class="error" ng-show="frmCreate.phoneNumber.$error.maxlength">Phone number cannot be longer than 12 characters</small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-3 control-label" })
                    <div class="col-md-6">
                        <input type="email" name="email" ng-model="Agent.Email" class="form-control" required placeholder="Email" ng-minlength=10
                               ng-maxlength=50
                               check-email="{{Agent.Email}}" />
                        <div class="error" style="color:red" ng-show="frmCreate.email.$dirty && frmCreate.email.$invalid">
                            <small class="error" ng-show="frmCreate.email.$error.required">Please input an email address</small>
                            <small class="error" ng-show="frmCreate.email.$error.minlength">Email required to be at least 10 characters</small>
                            <small class="error" ng-show="frmCreate.email.$error.maxlength">Email cannot be longer than 50 characters</small>
                            <small class="error" ng-show="frmCreate.email.$error.unique">That Email is taken, please try another</small>
                        </div>
                        
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.UserName, new { @class = "col-md-3 control-label" })
                    <div class="col-md-6">
                        <input type="text" name="username" ng-model="Agent.Username" class="form-control" required ng-minlength=5
                               ng-maxlength=20 placeholder="Username"
                               check-username="{{Agent.Username}}" />
                        <div class="error-container" style="color:red" ng-show="frmCreate.username.$dirty && frmCreate.username.$invalid">
                            <small class="error" ng-show="frmCreate.username.$error.required">Please input a username</small>
                            <small class="error" ng-show="frmCreate.username.$error.minlength">Username is required to be at least 5 characters</small>
                            <small class="error" ng-show="frmCreate.username.$error.maxlength">Username cannot be longer than 20 characters</small>
                            <small class="error" ng-show="frmCreate.username.$error.unique">That username is taken, please try another</small>
                        </div>
                       
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-3 control-label" })
                    <div class="col-md-6">
                        <input type="password" name="pass" ng-model="Agent.Password" class="form-control" required ng-minlength=6
                               ng-maxlength=20 placeholder="Password" ng-pattern="PasswordRegex" />
                        <div class="error-container" style="color:red"  ng-show="frmCreate.pass.$dirty && frmCreate.pass.$invalid">
                            <small class="error" ng-show="frmCreate.pass.$error.required">Please input a password</small>
                            <small class="error" ng-show="frmCreate.pass.$error.minlength">Your passowrd is required to be at least 6 characters</small>
                            <small class="error" ng-show="frmCreate.pass.$error.maxlength">Your password cannot be longer than 20 characters</small>
                            <small class="error" ng-show="frmCreate.pass.$error.pattern">Passwords must have at least one non letter or digit character, one digit and one uppercase letter</small>
                        </div>
                    </div>
                </div>

                <div class="form-group" ng-show="!frmCreate.pass.$invalid">
                    @Html.Label("Confirm", new { @class = "col-md-3 control-label" })
                    <div class="col-md-6">
                        <input type="text"
                               name="confirmPass"
                               placeholder="Confirm password"
                               ng-model="Agent.ConfirmPassword"
                               class="form-control"
                               required
                               compare-to="Agent.Password">

                        <div style="color:red" ng-show="frmCreate.confirmPass.$dirty && frmCreate.confirmPass.$invalid">
                            <div ng-show="frmCreate.confirmPass.$error.required">Password is required</div>
                            <div style="color:red" ng-show="frmCreate.confirmPass.$error.compareTo">password dont match</div>
                        </div>
                    
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-3 col-md-10">
                        <button class="btn btn-default" ng-disabled="frmCreate.$invalid" ng-click="Next()"> Next</button>
                        <button class="btn btn-default" ng-click="reset()"> Hide </button>
                        <input type="reset" class="btn btn-danger" value="Reset" />
                    </div>
                </div>

            </div>
        </form>


    </fieldset>


</div>