﻿@model AgentDetailsVM

<div>
    <ol>
        <li id="errorMessages" class="error" data-ng-repeat="error in Errors">
            <span style="color:red">{{error}}</span>
        </li>
    </ol>

    <fieldset class="scheduler-border  ">
        <legend class="scheduler-border">Agent Details</legend>
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.AgentNames)
                </dt>

                <dd>
                    {{AgentDetail.AgentNames}}
                </dd>


                <dt>
                    @Html.DisplayNameFor(model => model.CompanyName)
                </dt>

                <dd>
                    {{AgentDetail.CompanyName}}
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Location)
                </dt>

                <dd>
                    {{AgentDetail.Location}}
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AgentNumber)
                </dt>

                <dd>
                    {{AgentDetail.AgentNumber}}
                </dd>


                <dt>
                    @Html.DisplayNameFor(model => model.Active)
                </dt>

                <dd>
                    {{AgentDetail.Active}}
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.UnitsInStock)
                </dt>

                <dd>
                    {{AgentDetail.UnitsInStock}}
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ReorderLevel)
                </dt>

                <dd>
                    {{AgentDetail.ReorderLevel}}
                </dd>

                <dt>
                </dt>
                <dd>
                    <br />
                </dd>
                <dt>
                </dt>

                <dd>
                    <button class="btn btn-primary" ng-click="Hide()">Close</button>
                    @Html.ActionLink("Devices", "Index", "Devices", new { area = "DeviceManagement" }, new { @class="btn btn-primary"})
                    @Html.ActionLink("Certificates", "Index", "Certificates", new { area = "CertificateManagement" }, new { @class="btn btn-primary" })
                    @*<button ng-show="!showEdit.value" ng-click="ShowEdit()">Edit</button>
                    <button ng-show="showEdit.value" ng-click="EditProduct()" ng-disabled="frmCreate.$invalid">Modify</button>*@
                    @*<button ng-show="mySelections[0].Status == 'Pending' && mySelections[0].UserId != UserId" ng-click="ApproveTransaction(mySelections[0].ID, 'Declined')">Decline</button>*@
                </dd>

            </dl>
        </div>
    </fieldset>
</div>
