﻿
@{
    ViewBag.Title = "Agent";
}
<script src="~/Scripts/ng-grid-1.3.2.js"></script>
<script src="~/Scripts/angular-route.js"></script>
<link href="~/Content/ng-grid.css" rel="stylesheet" />
<script src="~/Scripts/Custom/Controllers.js"></script>
<script src="~/Scripts/Custom/Directives.js"></script>

<script language="javascript">
    // creating a APP
    var app = angular.module("myApp", ['ngGrid', 'ngRoute']);


    var compareTo = function () {
        return {
            require: "ngModel",
            scope: {
                otherModelValue: "=compareTo"
            },
            link: function (scope, element, attributes, ngModel) {

                ngModel.$validators.compareTo = function (modelValue) {
                    return modelValue == scope.otherModelValue;
                };

                scope.$watch("otherModelValue", function () {
                    ngModel.$validate();
                });
            }
        };
    };



    checkUsername = function ($http) {
        return {
            require: 'ngModel',
            link: function (scope, ele, attrs, c) {
                scope.$watch(attrs.ngModel, function () {
                    $http({
                        method: 'POST',
                        url: '/AgentDetail/UserAlreadyExistsAsync/',
                        data: { 'username': attrs.checkUsername }
                    }).success(function (data, status, headers, cfg) {
                        c.$setValidity('unique', data);
                    }).error(function (data, status, headers, cfg) {
                        c.$setValidity('unique', false);
                    });
                });
            }
        }
    };

    checkEmail= function ($http) {
        return {
            require: 'ngModel',
            link: function (scope, ele, attrs, c) {
                scope.$watch(attrs.ngModel, function () {
                    $http({
                        method: 'POST',
                        url: '/AgentDetail/EmailAlreadyExistsAsync/', // + attrs.checkEmail,
                        data: { 'email': attrs.checkEmail }
                    }).success(function (data, status, headers, cfg) {
                        c.$setValidity('unique', data);
                    }).error(function (data, status, headers, cfg) {
                        c.$setValidity('unique', false);
                    });
                });
            }
        }
    };

    app.directive("checkAgent", checkAgent);
    app.directive("checkEmail", checkEmail);
    app.directive("checkUsername", checkUsername);
    app.directive("compareTo", compareTo);

    // Registering the VM
    app.controller('AgentCtrl', AgentCtrl);

    app.config(['$routeProvider',
        function ($routeProvider) {;
            $routeProvider.
            when('/Create', {
                templateUrl: '/AgentDetail/Create',
                controller: 'AgentCtrl'
            }).when('/Details', {
                templateUrl: '/AgentDetail/AddDetails',
                controller: 'AgentCtrl'
            });
        }]);
</script>

<script type="text/javascript">
    $(function (){
    
            $("#addDetails").show();
            $('#details').show();
            $("#create").show();
     });


</script>

<div ng-app="myApp" ng-controller="AgentCtrl">

    @*<div class="row" ng-show="User.AccountType == 'SuperAdmin'">*@
    <div class="row">
        <br />
        <button class="btn btn-default" ng-click="ShowCreate()"> Add Agent </button>
        <br />
    </div>

    <div class="row">
        <div  id="create" ng-show="showCreate.value" hidden>
            @Html.Partial("_Create")
        </div>
        <div id="addDetails" ng-show="showAddDetails.value" hidden>
            @Html.Partial("_AddDetails")
        </div>
        <div ng-show="showDetails.value" id="details" hidden>
                @Html.Partial("_Details")
            </div>
    </div>

    <div class="row">
        <br />
        <br />
        <div class="gridStyle" ng-grid="gridOptions"></div>
    </div>
</div>
