﻿<tr ng-repeat="acc in Accounts">

    <td>{{acc.Name}}</td>
    <td>{{acc.Type}}</td>
    <td>{{acc.Status}}</td>
    <td>{{acc.Amount}}</td>
    <td>{{acc.AmountHeld}}</td>

    <td>
        <button ng-click="GetDetails(acc.ID, acc.Index)">Details</button>
        <button ng-click="GetTransactions(acc.ID, acc.Index)">Transactions</button>
        <button ng-show="acc.Status == 'Active'" ng-click="PopulateTransfer(acc.ID, acc.Index)">Transfer</button>
        <button  ng-show="acc.Status == 'Active' && acc.Type == 'Primary' && AccountType == 'Admin'" ng-click="PopulateRequestFunds(acc.Index)">Request</button>
        <button ng-show="acc.Type == 'Primary' && AccountType == 'SuperAdmin'" ng-click="PopulateAddFunds(acc.Index)">Add</button>

    </td>
</tr>
