﻿@model FloatAccountAdd


<fieldset class="scheduler-border col-md-6">
    <legend class="scheduler-border"> Add Funds to {{addFund.Name}}</legend>
    <form name="frmAdd" id="frmAdd">
        <div class="form-horizontal">

           <div class="form-group">
                @Html.LabelFor(m => m.Amount, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    <input type="number" id="Amount" name="Amount" ng-model="addFund.Amount" class="form-control" required />
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    <input type="text" id="Comment" name="Comment" ng-model="addFund.Description" class="form-control" required />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="add" ng-click="AddFunds()"
                       class="btn btn-primary" ng-disabled="!frmAdd.$valid" />
                <input type="reset" value="Reset"
                       class="btn btn-default" />
                <input type="button" value="Close" b
                       class="btn btn-warning" ng-click="OnHide()" />
            </div>
        </div>

    </form>




</fieldset>

