﻿@model FloatAccountViewModel
@{
    AjaxOptions o = new AjaxOptions();
    o.OnSuccess = "OnSaveSuccess";
}

<li id="errorMessages" class="error" data-ng-repeat="error in Errors">
    {{error}}
</li>

<fieldset class="scheduler-border col-md-6">
    <legend class="scheduler-border text-capitalize"> Create Float Account</legend>
    <form id="frmCreate" name="frmCreate">
        <div class="form-horizontal">

            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="text" id="Name" name="Name" ng-model="createAccount.Name" class="form-control" required />
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="text" id="Description" name="Description" ng-model="createAccount.Description" class="form-control" required />
                </div>
            </div>


        </div>


        <div class="col-md-offset-2 col-md-10">
            <input type="button" value="Create" class="btn btn-default" ng-click="CreateAccount()" />
        </div>
    </form>


</fieldset>

@*}*@


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
