﻿@model FloatAdminDetailVM


<fieldset class="scheduler-border  col-md-6">
    <legend class="scheduler-border"> {{Account.Name}} Details</legend>
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                {{Account.Name}}
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Amount)
            </dt>

            <dd>
                Ksh. {{Account.Amount}}
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AmountHeld)
            </dt>

            <dd>
                Ksh. {{Account.AmountHeld}}
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UserNames)
            </dt>

            <dd>
                {{Account.UserNames}}
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                {{Account.Description}}
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>

            <dd>
                {{Account.Status}}
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FloatAccountType)
            </dt>

            <dd>
                {{Account.Type}}
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateCreated)
            </dt>

            <dd>
                {{Account.DateCreated}}
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateModified)
            </dt>

            <dd>
                {{Account.Modified}} 
            </dd>
            <dd>
                <button  ng-click="OnHide()">Hide</button>
                <button ng-click="GetTransactions(Account.ID, Account.Index)">Transactions</button>
            </dd>
        </dl>
    </div>
</fieldset>
