﻿@model RequestFundViewModel

<fieldset class="scheduler-border col-md-6">
    <legend class="scheduler-border"> Request from {{Account.Name}}</legend>
    <form name="frm1" id="frm1">

        <div class="form-horizontal">

            <div class="form-group">
                @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="number" id="Amount" name="Amount" ng-model="Account.Amount" class="form-control" required />
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="text" id="Comment" name="Comment" ng-model="Account.Description" class="form-control" required />
                </div>
            </div>



            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" value="add" ng-click="RequestFunds()"
                           class="btn btn-primary" ng-disabled="!frm1.$valid" />
                    <input type="reset" value="Reset"
                           class="btn btn-default" />
                    <input type="button" value="Close" b
                           class="btn btn-warning" ng-click="OnHide()" />
                </div>
            </div>
        </div>
    </form>
</fieldset>
