﻿@model FloatAccountTransfer

<li id="errorMessages" class="error" data-ng-repeat="error in Errors">
    {{error}}
</li>

<fieldset class="scheduler-border col-md-6">
    <legend class="scheduler-border"> Transfer Funds from {{TransferName}}</legend>
    <form id="frm" name="frm">
        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(m => m.FundsTo, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    <select data-ng-model="TransferDD"
                            data-ng-options="a.Name for a in SelectList.value" class="form-control" required></select>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Amount, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @*<input type="number" id="Amount" name="Amount" ng-model="AccountTransfer.Amount" class="form-control" required min="0" max="1000000" />*@
                    <input type="number" id="Amount" name="Amount" ng-model="Account.Amount" class="form-control" required min="0" max="1000000" />
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @*<input type="text" id="Description" name="Description" ng-model="AccountTransfer.Description" class="form-control" required />*@
                    <input type="text" id="Description" name="Description" ng-model="Account.Description" class="form-control" required />
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" value="Transfer" class="btn btn-primary" ng-click="TransferFunds()" ng-disabled="!frm.$valid" />
                    <input type="button" value="Close" class="btn btn-default" ng-click="OnHide()" />
                </div>
            </div>
        </div>
    </form>


</fieldset>
