﻿<tr ng-repeat="trans in Transactions">

    <td>{{trans.Description}}</td>
    <td>{{trans.Amount}}</td>
    <td>{{trans.Status}}</td>
    <td>{{trans.Type}}</td>
    <td>{{trans.InitiatedBy}}</td>
    <td>{{trans.DateInitiated}}</td>
    <td>{{trans.ApprovedBy}}</td>
    <td>{{trans.DateApproved}}</td>
   
</tr>
