﻿@model IEnumerable<FloatAccount>

@{
    ViewBag.Title = "Index";
}

<script src="~/Areas/FloatManagement/Scripts/FloatAccount.js"></script>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/jquery-2.1.4.min.js"></script>

<script language="javascript">
    var app = angular.module("myApp", []); // creating a APP
    app.controller('FloatAccount', FloatAccount); // Registering the VM
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#accountDetails").hide();

    });

    function show() {
        $("#accountDetails").show();
    }

    function hide() {
        $("#accountDetails").hide();
    }
</script>


<h2>Index</h2>


@ViewBag.ErrorMessage

<div ng-controller="FloatAccount" ng-app="myApp" ng-init="init(0)">

    <div id="accountDetails" hidden>
        @Html.Partial("_Details")
    </div>
    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Account Type
            </th>
            <th>
                Status
            </th>
            <th>
                Amount
            </th>
            <th>
                Amount Held
            </th>
            <th></th>
        </tr>

        @Html.Partial("_AccountList")

        @*@foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FloatAccountType)
                    </td>
                    <td>
                        @if (item.Status == true)
                        {
                            <text><b>YES</b></text>
                        }
                        else
                        {
                            <text><b>NO</b></text>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>

                    @if (item.FloatAccountType == FloatAccountType.Primary)
                    {
                        <td>
                            @Html.ActionLink("Details", "Details", new { area = "FloatManagement" }, new { id = item.ID }) |
                            @Html.ActionLink("Transactions", "Index", "FloatTransaction", new { id = item.ID }, null)|
                            @Html.ActionLink("Add Funds", "Add", new { id = item.ID })
                        </td>

                    }
                    else
                    {
                        string userID = ViewBag.UserID;
                        if (item.UserID.ToLower() == userID.ToLower())
                        {
                            <td>
                                @Html.ActionLink("Detail", "Details", new { id = item.ID })) |
                                @Html.ActionLink("Transactions", "Index", "FloatTransaction", new { id = item.ID }, null)|
                                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                @Html.ActionLink("Transfer", "Transfer", new { id = item.ID })
                            </td>
                        }
                        else
                        {
                            <td>
                                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                @Html.ActionLink("Transactions", "Index", "FloatTransaction", new { id = item.ID }, null)|
                                @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                            </td>
                        }
                    }
                </tr>
            }*@
    </table>

</div>

@section Scripts{
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

}