﻿@model FloatAdminDetailVM
@{
    ViewBag.Title = "FloatDetails";
}

<h2>Float Account Detials</h2>

<div>
    <h4>FloatAccount</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmountHeld)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountHeld)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserNames)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserNames)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FloatAccountType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FloatAccountType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateModified)
        </dd>

    </dl>
</div>
<p>


    @Html.ActionLink("Transactions", "Index", "FloatTransaction", new { id = Model.ID }, null) |
    @Html.ActionLink("Back to List", "Index")
</p>
