﻿@model IEnumerable<FloatAccount>

@{
    ViewBag.Title = "Index";
}

<script src="~/Areas/FloatManagement/Scripts/FloatAccount.js"></script>
<script src="~/Scripts/ng-grid-1.3.2.js"></script>
<script src="~/Scripts/jquery-2.1.4.js"></script>
<link href="~/Content/ng-grid.css" rel="stylesheet" />
<script language="javascript">
    // creating a APP
    var app = angular.module("myApp", ['ngGrid']);

    // Registering the VM
    app.controller('FloatAccount', FloatAccount);

    //app.config(['$routeProvider',
    //    function ($routeProvider) {;
    //        $routeProvider.
    //        when('/Request', {
    //            templateUrl: '/FloatManagement/Account/RequestFunds',
    //            controller: 'Account'
    //        }).when('/Add', {
    //            templateUrl: '/FloatManagement/Account/AddFunds',
    //            controller: 'Account'
    //        }).when('/Details', {
    //            templateUrl: '/FloatManagement/Account/Details',
    //            controller: 'Account'
    //        })
    //        ;

    //    }]);
</script>
<script type="text/javascript">
    $(function () {
        $("#showCreate").show();
        $("#showAddFunds").show();
        $("#showDetails").show();
        $("#showTransfer").show();
        $("#showRequest").show();
        $("#TblData").show();
        $("#transactions").show();
    });
</script>
<br />


@ViewBag.ErrorMessage

<div ng-controller="FloatAccount" ng-app="myApp">
    <div class="row col-md-12">
        <div ng-show="showCreate.value" hidden id="showCreate">
            @Html.Partial("_Create")
            <br />
        </div>
        <div ng-show="showAddFunds.value" hidden id="showAddFunds">
            @Html.Partial("_AddFunds")
            <br />
        </div>
        <div ng-show="showDetails.value" hidden id="showDetails">
            @Html.Partial("_Details")
            <br />
        </div>
        <div ng-show="showTransfer.value" hidden id="showTransfer">
            @Html.Partial("_Transfer")
            <br />
        </div>
        <div ng-show="showRequest.value" hidden id="showRequest">
            @Html.Partial("_Request")
            <br />
        </div>
        <div class="col-md-3"><h2 class="text-center">Float Account</h2></div>
    </div>
    <hr/>
    <div class="row ">
        <table class="table table-striped" id="TblData" hidden>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Account Type
                </th>
                <th>
                    Status
                </th>
                <th>
                    Amount
                </th>
                <th>
                    Amount Held
                </th>
                <th></th>
            </tr>

            @Html.Partial("_AccountList")


        </table>
    </div>
    <div class="gridStyle1" ng-grid="gridOptions"></div>
</div>

@section Scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
}
