﻿@model FloatAccountTransfer
@{
    ViewBag.Title = "Transfer";
}

<h2>Transfer</h2>

@ViewBag.ErrorMessage

@using (Html.BeginForm("Transfer", "FloatAccount", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <br />
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.FloatAccountID)

       

        <div class="form-group">
            @Html.LabelFor(m => m.FloatAccountName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.FloatAccountName, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.FundsTo, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DropDownList("FundsTo", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FloatAccountID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Amount, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Amount, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Move Money" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
