﻿@model IEnumerable< FloatAccount>

@{
    ViewBag.Title = "FloatAccount";
}

<h2>FloatAccount</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>


        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FloatAccountType)
        </th>
    
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountHeld)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
       
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @if (item.Status == true)
                {
                    <text><b>Active     </b></text>
                }
                else
                {
                    <text><b>Inactive</b></text>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FloatAccountType)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Amount)*@
                @(item.Amount + item.AmountHeld)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountHeld)
            </td>
          
            @if (item.FloatAccountType == FloatAccountType.Primary)
            {
                <td>
                    @Html.ActionLink("Details", "FloatDetails", new { id = item.ID }) |
                    @Html.ActionLink("Transactions", "Transactions", "FloatAccount", new { id = item.ID }, null) |
                    @Html.ActionLink("Request Funds", "RequestFunds", "Admin", new { id = item.ID }, null)
                    
                </td>
            }
            else
            {
                <td>
                    @Html.ActionLink("Details", "FloatDetails", new { id = item.ID }) |
                    @Html.ActionLink("Transactions", "Transactions", "FloatAccount", new { id = item.ID }, null)
                </td>
            }
       
        </tr>
    }

</table>
