﻿
<div  ng-controller="RaiseRequestCtrl">
   <br />
    <ol>
        <li id="errorMessages" class="error" data-ng-repeat="error in Errors" ng-show="showError.show">
            <span style="color:red" >{{error}}</span>
        </li>
    </ol>
       
   
    <fieldset class="scheduler-border col-md-6" >
        <legend class="scheduler-border"> Raise and expenditure</legend>
   
        <form id="frmRaise" name="frmRaise">
            <div class="form-horizontal">

                <div class="form-group">
                    @Html.Label("Float Account", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <select data-ng-model="floatAccount"
                                data-ng-options="a.Name for a in floatAccounts.value" class="form-control" required></select>

                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Expenditure Type", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <select ng-model="expenditureType"
                                ng-options="a.Name for a in expenditureTypes.value" class="form-control"></select>
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Desciption", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="text" class="form-control" ng-model="Description" required>
                        <span style="color:red" ng-show="frmRaise.Description.$dirty && frmRaise.Description.$invalid">
                            <span ng-show="frmRaise.Description.$error.required">Username is required.</span>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Amount", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="number" class="form-control" ng-model="Amount" required>
                        <span style="color:red" ng-show="frmRaise.Amount.$dirty && frmRaise.Amount.$invalid">
                            <span ng-show="frmRaise.Amount.$error.required">Username is required.</span>
                        </span>
                    </div>
                </div>


                <div class="col-md-offset-2 col-md-10">
                    <input type="button" value="Create" class="btn btn-default" ng-click="RaiseRequest()" ng-disabled="frmRaise.$invalid" />
                    <a href="#/" class="btn btn-default">Cancel </a>
                </div>
            </div>
        </form>
    </fieldset>
</div>