﻿

<fieldset class="scheduler-border  col-md-6">
    <legend class="scheduler-border"> Transaction Details</legend>
    <div>
        <dl class="dl-horizontal">
                      <dt>
                @Html.DisplayName("Amount")
            </dt>

            <dd>
                Ksh. {{mySelections[0].Amount}}
            </dd>

            <dt>
               @Html.DisplayName("Type")
            </dt>

            <dd>
                {{mySelections[0].Type}}
            </dd>

            <dt>
               Status
            </dt>

            <dd>
                {{mySelections[0].Status}}
            </dd>

            <dt>
               Desciprion
            </dt>

            <dd>
                {{mySelections[0].Description}}
            </dd>

            <dt>
                Initiated By
            </dt>

            <dd>
                {{mySelections[0].InitiatedBy}}
            </dd>

            <dt>
               Date Initiated
            </dt>

            <dd>
                {{mySelections[0].DateInitiated}}
            </dd>

            <dt>
                Approved By
            </dt>

            <dd>
                {{mySelections[0].ApprovedBy}}
            </dd>

            <dt>
               Date Approved
            </dt>

            <dd>
                {{mySelections[0].DateApproved}}
            </dd>
            <dt>
               Comments
            </dt>

            <dd>
                {{mySelections[0].Comments}} 
                <input type="text" id="Name" name="Name" ng-show="mySelections[0].Status == 'Pending' && mySelections[0].UserId !=  User.UserId" ng-model="Transaction.Comments" class="form-control" />
            </dd>
            <dt>
            </dt>
            <dd>
                <br />
            </dd>
            <dt>
            </dt>

            <dd>
                <button ng-click="HideDetails()">Hide</button>
                <button ng-show="mySelections[0].Status == 'Pending' && mySelections[0].UserId != User.UserId" ng-click="ApproveTransaction(mySelections[0].ID, 'Approved')">Approve</button>
                <button ng-show="mySelections[0].Status == 'Pending' && mySelections[0].UserId != User.UserId" ng-click="ApproveTransaction(mySelections[0].ID, 'Declined')">Decline</button>
            </dd>
        </dl>
    </div>
</fieldset>
