﻿<script src="~/Scripts/angular-route.js"></script>
<script src="~/Scripts/ng-grid-1.3.2.js"></script>
<link href="~/Content/ng-grid.css" rel="stylesheet" />
<script src="~/Areas/ExpenditureManagement/Scripts/Expenditure.js"></script>
<script language="javascript">

    var app = angular.module("myApp", ['ngRoute','ngGrid']); // creating a APP

    app.factory('LoadData', function ($q, $http) {
        var deffered = $q.defer();
        var data = [];
        var LoadData = {};

        LoadData.async = function () {

            $http({ method: "GET", url: "Expenditure/Expenditures" }).
                          success(function (d) {
                              data = d;
                              deffered.resolve();
                          });

            return deffered.promise;
        };

        LoadData.data = function () { return data; };

        return LoadData;

    });
    // debugger;
    app.controller('IndexCtrl', IndexCtrl); // Registering the VM
    app.controller('RaiseRequestCtrl', RaiseRequestCtrl);
    // Controller
    app.config(['$routeProvider',
        function ($routeProvider) {;

            $routeProvider.
                    when('/Create', {
                        templateUrl: '/ExpenditureManagement/Expenditure/Create',
                        controller: 'RaiseRequestCtrl'
                    }).
                    when('/Details', {
                        templateUrl: '/ExpenditureManagement/Expenditure/Create',
                        controller: 'ExpenditureCtrl'
                    }).
                    otherwise({
                        redirectTo: '/'
                    });
        }]);
</script>

<script>
    $(function () {
        $("#showCreate").show();
        $('#details').show();
    });
</script>

<div ng-app="myApp" ng-controller="IndexCtrl">
    <div class="row" ng-show="User.AccountType != 'SuperAdmin'">
        <br />
        <b><a href="#/Create" id="showCreate" hidden> Raise Request</a></b>
        <br />
    </div>
    
    <div class="row">
        <div ng-view ></div>
        <div  ng-show="mySelections[0].__ng_selected__" id="details" hidden>
            @Html.Partial("_Details")
        </div>
    </div>

    <div class="row">
        <br />
        <br />
        <div class="gridStyle" ng-grid="gridOptions"></div>
    </div>
</div>